# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

firmware/

web-server/.idea/

docs/

web-server/vendor/

cad-src/

firmware/Diplom/.mxproject

firmware/Diplom/.settings/

firmware/Diplom/Drivers/

firmware/Diplom/Debug/

firmware/Diplom/Diplom Debug.launch

docs/Device/Измерения/

*.log

*.bak

web-server/

docs/Device/OldVersions/

cad-src/

cad-src/

docs/

firmware/

web-server/

docs/Device/OldVersions/

*.bak

*.log

*.tmp

docs/Device/export/old/

docs/Device/СборочныйУстройство.dwg

docs/PCB/Bot.jpg

docs/PCB/Top.jpg

docs/Device/Последовательность/

docs/Device/Измерения/

firmware/Diplom/.settings/

web-server/

docs/~$РПЗ.docx

firmware/

cad-src/
